/* #CABAC8-Thistle */
/* #FF101F-RED */
/* #B2DDF7-URANIAN BLUE */
/* #81D6E3-NON PHOTO BLUE */
/* #4CB5AE-VERDIGRIS */

/*---------This is the base design of page-------------*/
*{
    margin:0px;
    padding:0px;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}
/* ------------------Animated banner------------------ */
#banner{
    background-color: black;
    color:antiquewhite;
    padding: 0.7rem;
    
}

#banner p{
    /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation: 13s ease-in-out 3s infinite reverse running slide;
}

@keyframes slide {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width:100%
    }

}
/* back to basic styling */
header{
    border: 5px double rgb(20, 20, 97);
    background-color: #81D6E3 ;
    border-style: double;
}

body{
    background-color: --red;

}

/* This targets all of the input boxes */
input[type=text]{
    background-color:#B2DDF7 ;
    
}
/* This is the css for the grid container for the form. Hopefully it makes the items go horizontal on the page. */
/* If I put a "." in from of 'form', it will strech the entire page width no matter what width I type in. */
form{
    margin: auto;
    width:1500px ;
    border:1px solid black;
    background-color: #81D6E3;
}
/* This is my attempt at styling the form */
/* .grid-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr; this also creates 7 equal columns
    grid-template-rows: 50px;
} */

/* This is chatgpt attempt at styling the form */
/* This is needed for the week days to spread even with the '.daystrainging. cause it to work better. so I guess this is the basis of the grid */
.grid-containers{
    display: grid;
    grid-template-columns: repeat(8, 1fr);  /* this creates 7 equal columns */  
    gap:40px;/* this adds some space between the grid items*/

}

/* Okay, so this is what allowing me to make the weekday spread accross the form. Took me way too long but figured it out.  */
.daystraining{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px; 
    align-items: center;
    gap:20px;
    padding-left: 2em;
}

/* This is the first row of input items. This row will be used to input exercises.  */
.exercise{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;
    

}

.weight{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;

}

.reps{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;

}

.sets{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;

}

/* This is week two divs */

.exercise2{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;
    

}

.weight2{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;

}

.reps2{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;

}

.sets2{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 30px;
    margin: 3px;

}

/* ----------Button styling---------------- */
/* Float moves elements from left to right or right to left on the page or in a form */
.topbutton1{
   float:right;
   margin-top: -2.5em;

}

.topbutton2{
    float:right;
    margin-top: -1em
}

.removeBTN{
    text-align: right;
    margin-top: 0.5em;
}

/* ------------creating and styling navbar--------------- */


/* Style the links in the nav menu */
.pillnav a{
    color:rgb(93, 24, 150) ;
    display:inline-block;
    color:darkblue;
    text-align: center;
    padding:10px;
    font-size:17px;
    border-style: solid;
    border-radius: 15px;
}

.pillnav a:hover{
    background-color: white;   
}

.pillnav a.active{
   background-color: rgb(82, 168, 82);
   color: rgb(247, 193, 112); 
}